html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 62.5rem;
    background-color: rgb(253, 250, 244);
}
  

nav {
    position: relative;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background: rgba(0, 0, 0, 0.781);
    transition: 1s; 
  }

.nav2-logo {
    width: 180px;
    height: 60px;
    float: left;
    padding: 1.2rem;
}

ul {
    font-family: 'Libre Baskerville', serif;
    margin-right: 5rem;
    display: inline-block;
    list-style: none;
}
  
nav ul {
    position: relative;
    margin: 0;
    padding: 40px 0;
    display: flex;
    transition: 1.2s;
    float: right;
}

nav ul li a {
    color: rgb(253, 250, 244);
    border-radius: 10%;
    padding: 10px 15px;
    text-decoration: none;
}

nav ul li a:hover {
    font-size: 20px;
    background-color: rgb(253, 250, 244);
    border-radius: 10%;
    padding: 1.2rem;
    color: rgb(54, 54, 54);
    transition: ease-in 250ms;
    
}
nav ul li a.active {
    background: white;
    padding: 1.2rem;
    border-radius: 10%;
    color: #000000;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 99;
  }
  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 99;
  }
  #return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
  }
  #return-to-top:hover i {
    color: #fff;
    top: 5px;
  }

/* -------------------------------------------------------------- */
/* ------------------------ABOUT PAGE---------------------------- */
/* -------------------------------------------------------------- */

.about-background {
  background-image: linear-gradient( #383838b9, #66666652) , url(../images/about-back.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

.blank3 {
  height: 8rem;
}

.about-container {
  display: grid;
  width: 80%;
  margin: auto;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.87), rrgba(245, 245, 245, 0.884)  rgba(248, 248, 248, 0.767));
  padding: 20px 20px 20px 20px;
  border-radius: 10px;

  /* grid columns and rows size */
  grid-template-columns: repeat(1, 60%);
  grid-template-rows: repeat(auto);
  grid-gap: 10px;

  grid-template-areas: 
          "form1"
}

/* -------------------------------------------------------------- */
/* -----------------------REGISTER PAGE-------------------------- */
/* -------------------------------------------------------------- */

.register-background {
    background-image: linear-gradient( #383838b9, #66666652) , url(../images/register-back.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

.blank2 {
  height: 8rem;
}

.form-sect {
  height: 700px;
}

.form-container {
  display: grid;
  width: 80%;
  margin: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.048),  rgba(0, 0, 255, 0));
  padding: 20px 20px 20px 20px;
  border-radius: 10px;

  /* grid columns and rows size */
  grid-template-columns: repeat(1, 60%);
  grid-template-rows: repeat(auto);
  grid-gap: 10px;

  grid-template-areas: 
          "form1"
}

.reg-head {
  font-size: 50px;
  color: rgba(252, 245, 237, 0.753);
  margin: 15px 15px 0px 15px;
}

.line1 {
  border-top: solid 3px rgba(128, 128, 128, 0.753);
  width: 330px;
  margin-bottom: 15px;
}

.form1 {
  grid-area: form1;
}

.name {
  background-color: #cecece38;
  color: rgba(252, 245, 237, 0.753);
  font-size: 14px;
  width: 250px;
  height: 30px;
  text-indent: 15px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.surname {
  background-color: #cecece38;
  color: rgba(252, 245, 237, 0.753);
  font-size: 14px;
  width: 250px;
  height: 30px;
  text-indent: 15px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.email {
  background-color: #cecece38;
  color: rgba(252, 245, 237, 0.753);
  font-size: 14px;
  width: 250px;
  height: 30px;
  text-indent: 15px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.radio {
  color: rgba(252, 245, 237, 0.753);
  font-size: 17px;
  margin-bottom: 5px;
}


select {
  background-color: #4e4e4e38;
  color: rgba(252, 245, 237, 0.753);
  font-size: 14px;
  width: 250px;
  height: 30px;
  text-indent: 5px;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

option {
  background-color: #4e4e4e38;
  color: rgba(252, 245, 237, 0.753);
}


.password {
  background-color: #cecece38;
  color: rgba(252, 245, 237, 0.753);
  font-size: 14px;
  width: 250px;
  height: 30px;
  text-indent: 15px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.submit { 
  margin-top: 15px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(65, 65, 65);
  color: rgb(248, 235, 220);
  text-align: center;
}

.submit:hover {
  filter: brightness(120%);
  cursor: pointer;
  transition: ease-in-out 250ms;
  transform: scale(1.1);
}
/* -------------------------------------------------------------- */
/* -----------------------CONTACT PAGE--------------------------- */
/* -------------------------------------------------------------- */

.contact-background {
  background-image: linear-gradient( to right, #383838b9, #66666600) , url(../images/contact-back.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

.blank {
  height: 7rem;
}

.contact-us-section {
  height: 700px;
  color: rgb(255, 254, 246);
}

.contact-grid {
  display: grid;
  width: 90%;
  margin: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.048),  rgba(0, 0, 255, 0));
  padding: 0px 20px 20px 20px;
  border-radius: 10px;

  /* grid columns and rows size */
  grid-template-columns: repeat(1, 50%);
  grid-template-rows: repeat(auto);
  grid-gap: 10px;

  grid-template-areas: 
          "contactheading"
          "tel"
          "offerbtn"
}

.contact-us-head {
  grid-area: contactheading;
  font-size: 55px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.line2 {
  border-top: solid 3px rgba(150, 149, 149, 0.753);
  width: 420px;
  margin-bottom: 7px;
}

.tel {
  grid-area: tel;
  font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    /* This makes sure that no text is displayed yet */
    overflow: hidden;
    /* This keeps all the lettering in one line */
    white-space: nowrap; 
    margin-bottom: 0px;
    margin-top: 5px;
    letter-spacing: .1em; 
    border-right: .15em solid orange; 
    animation: 
      typing 4.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* This creates the typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 40% }
  }
  
  /* The blniker effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(255, 166, 0, 0); }
  }
  
.cel {
  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  /* This makes sure that no text is displayed yet */
  overflow: hidden;
  /* This keeps all the lettering in one line */
  white-space: nowrap; 
  margin-bottom: 0px;
  margin-top: 5px;
  letter-spacing: .1em; 
  /* styling for the blinker */
  border-right: .15em solid orange; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* This creates the typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 40% }
}

/* The blniker effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 166, 0, 0); }
}

.mails {
  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  /* This makes sure that no text is displayed yet */
  overflow: hidden;
  /* This keeps all the lettering in one line */
  white-space: nowrap; 
  margin-bottom: 0px;
  margin-top: 5px;
  letter-spacing: .1em; 
  /* styling for the blinker */
  border-right: .15em solid orange; 
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* This creates the typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

/* The blniker effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 166, 0, 0); }
}

.location {
  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  /* This makes sure that no text is displayed yet */
  overflow: hidden;
  /* This keeps all the lettering in one line */
  white-space: nowrap; 
  margin-bottom: 2px;
  margin-top: 5px;
  letter-spacing: .1em; 
  /* styling for the blinker */
  border-right: .15em solid orange; 
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* This creates the typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

/* The blniker effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 166, 0, 0); }
}
iframe {
  height: 350px;
  width: 500px;
  border-radius: 10px;
}


/* -------------------------------------------------- */
/* --------------------- FOOTER --------------------- */
/* -------------------------------------------------- */


.sect5 {
  height: 400px;
  background-image: linear-gradient(rgb(78, 78, 78), rgb(61, 61, 61));
}

.grid-footer {
  display: grid;
  width: 80%;
  margin: auto;
  padding-top: 5%;
  color: aliceblue;
  font-family: 'Merriweather Sans', sans-serif;

  /* grid columns and rows size */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto);
  grid-gap: 30px;

  grid-template-areas: 
          "contct social learn ."
}

.contactinfo {
  grid-area: contct
}

.social a {
  grid-area: social;
  color: aliceblue;
  line-height: 1.6;
  text-decoration: none;
}

.social a:hover {
  color: rgb(255, 241, 195);
  font-size: 17px;
  transform: scale(1.2);
}

.learn a {
  grid-area: learn;
  color: aliceblue;
  line-height: 1.6;
  text-decoration: none;
}

.learn a:hover {
  color: rgb(255, 241, 195);
  font-size: 17px;
  transform: scale(1.2);
}

.yourname {
  border-radius: 5px;
  text-indent: 2%;
  font-size: 12px;
  background-color: rgb(255, 255, 233);
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(51, 51, 51);
}

.yoursurname {
  border-radius: 5px;
  text-indent: 2%;
  font-size: 12px;
  background-color: rgb(255, 255, 233);
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(51, 51, 51);
}

textarea {
  border-radius: 5px;
  text-indent: 1%;
  font-size: 12px;
  background-color: rgb(255, 255, 233);
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(51, 51, 51);
}

.send-btn {
  width: 100px;
  height: 25px;
  border-radius: 20px;
  background-color: rgb(65, 65, 65);
  color: rgb(248, 235, 220);
  text-align: center;
}



.sect6 {
  height: 70px;
  background-image: linear-gradient(rgb(194, 191, 191), rgb(158, 158, 158));
}

.copyright {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
  padding-top: 2%;
}

